<div class="card mb-3" style="max-width: 1540px; max-height: 300px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{user.image}}" style="max-height: 300px;" class="img-fluid rounded-start" alt="image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{user.name}}</h5>
        <p class="card-text">{{user.email}}</p>
        {{!-- {{#ifCond userselfId user.id}} --}}
          <a href="/users/{{user.id}}/edit" class="btn btn-primary">Edit</a>
        {{!-- {{/ifCond}} --}}
      </div>
    </div>
  </div>
</div>
{{!-- <h3 class="card mb-3" style="max-width: 1540px; max-height: 100px;">
  {{comments.count}}個已評論餐廳
</h3>
<div class="card mb-3" style="max-width: 1540px; max-height: 500px; min-height: 150px;">
  <div class="row g-0 mx-2">
    {{#each comments.rows}}
    <a href="/restaurants/{{this.restaurantId}}" class="col-2 mx-2 my-2">
      <img src="{{this.Restaurant.image}}" style="max-height: 300px;" class="img-fluid rounded-start" alt="image">
    </a>
    {{/each}}
  </div>
</div> --}}
<div>
  <div>
    <h5>{{commentData.length}}個已評論餐廳</h5>
  </div>
  <div style="background: white; height: auto" class="d-flex flex-row bd-highlight mb-3 align-items-center flex-wrap">
    {{#each commentData}}
    <a href="/restaurants/{{this.restaurantId}}">
      <img src="{{this.Restaurant.image}}" class="img-thumbnail ms-1"
        style="max-width: 100px; max-height: 100px;" alt="{{this.Restaurants.name}}">
    </a>
    {{/each}}
  </div>
</div>